
# Streamlit 本体
streamlit

# LangChain 関連
langchain
langchain-openai
langchain-community
langchain-core
langchain_huggingface

# HuggingFace 関連
transformers
sentence-transformers
torch==2.7.1
accelerate  # GPU系で必要になる場合あり

# ベクトルDB
faiss-cpu

# LLM 評価や補助
tiktoken
pydantic

# .env 読み込み
python-dotenv
python-docx

# その他
tqdm